/* ProductDetail.css */
.product-detail {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.rating {
    margin: 10px 0;
}

.add-to-cart button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart button:hover {
    background-color: #0056b3;
}

.admin-controls {
    margin-top: 20px;
}

.admin-controls button {
    margin-right: 10px;
    padding: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.admin-controls button:hover {
    background-color: #c82333;
}
.popup {
    position: fixed;
    top: 20px;
    right: -300px; /* Start position off-screen */
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: right 0.5s ease-out; /* Slide-in animation */
}

.popup p {
    margin: 0;
}

.popup.show {
    right: 20px; /* Final position on-screen */
}